body {
    font-family: 'Oswald', sans-serif;
}

:root {
    --main-color: #434E5E;
}

.header-color {
    background: var(--main-color);
}


.progress-color {
    background-color: var(--main-color);
}


.progress-height {
    height: 10px;
}

/* Section Styling */

.title-color {
    color: var(--main-color);
}


.line {
    background-color: var(--main-color);
    height: 1px;
}


.custom-list {
    list-style-type: circle;
}


.bedge-bg-color {
    background-color: var(--main-color);
}
.bedge-color {
    color: var(--main-color);
}

